@import "helpers";

.about{
    position: relative;
    padding-top: 9.73vw;
    padding-inline: $padding;
    width: 100vw;
    height: 100vh;
    // background-color: red;
}
.title{
    overflow: hidden;
    mix-blend-mode: difference;
    font-size: 8.38vw;
    color: $white;
    text-transform: uppercase;
    margin-left: 9.79vw;
    span{
    mix-blend-mode: difference;

        display: block;
        transform: translateY(100%);
    }
}
.paragraphs{
    overflow: hidden;
    // background-color: blue;
    position: absolute;
    bottom: 0;
    color: $white;

    display: flex;
    justify-content: center;
    gap: 4.4vw;
    width: 90vw;

    p{
        overflow: hidden;
        font-size: 1.10vw;

         span{
             display: block;
             transform: translateY(100%);
         }

    }
}

.overlay{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0vw;
    height: 0%;

    background-color: $new_white;

    z-index: 999;
}

@media screen and (max-width: 450px) {
    .about{
        padding-top: 0vw;
    }
    .title{
        font-size: 25vw;
        margin-left: 0;
        text-align: center;
        margin-top: 19vw;
    }

    .paragraphs{
        overflow: hidden;
        // background-color: blue;
        position: absolute;
        bottom: 4vw;
        color: $white;
    
        display: flex;
        flex-direction: column;

        gap: 4.4vw;
        width: 90vw;
    
        p{
            margin-left: 5.11vw;
            font-size: 3.20vw;
        }
    }
}