@import "helpers";

.enter {
  background-color: $black;

  display: grid;
  place-items: center;
  overflow: hidden;

  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: 999;

  h1 {
    overflow: hidden;
    font-size: 7.39vw;
    color: $white;
    font-weight: 800;
    letter-spacing: 1vw;

    opacity: 0;
  }
}

@media screen and (min-width: 250px) and (max-width: 900px) {
  .enter {
    h1 {
      font-size: 12vw;
    }
  }
}
