@import "helpers";

.nav{
  position: fixed;
  top: 3vw;
  width: 100vw;
  padding-inline: $padding;

  display: flex;
  justify-content: space-between;

  // background-color: red;

  h1{
    color: $white;
    font-size: 1.6vw;
  }
}

.button{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3vw;

  background-color: transparent;
  border: none;

  z-index: 99;
  
  .line2,
  .line1{
    width: 4vw;
    height: 0.2vw;
    background-color: $white;
    transition: all .4s ease-in-out;
  }

  .line1.active{
    transform: rotate(45deg) translateY(0.3vw);
  }
  .line2.active{
    transform: rotate(-40deg) translateY(-0.4vw);
  }
}
.overlay{
  overflow: hidden;
  position: fixed;
  height: 0vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $white;

  display: flex;
  align-items: center;

  menu{
    list-style: none;
    padding-left: 3vw;

    display: flex;
    flex-direction: column;
    gap: 3vw;

    li{
      overflow: hidden;
      // background-color: red;
      cursor: pointer;
      font-size: 7vw;
      text-transform: uppercase;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        top: 4vw;
        left: 0;
        width: 0%;
        height: 0.5vw;
        background-color: $black;
        transition: all .3s ease-in-out;
      }
      &:hover::before{
        width: 100%;
      }

      span{
        display: block;
        transform: translateY(7vw);
      }
    }
    
  }
}


@media screen and (min-width: 750px) and (max-width: 900px) {
  .nav{
    top: 7vw;
  
    h1{
      font-size: 4.6vw;
    }
  }

  .button{
    gap: 1vw;
  
    .line2,
    .line1{
      width: 11vw;
      height: 0.5vw;
    }
  }

  .overlay{
  
    menu{
      padding-left: 5vw;
      gap: 7vw;
  
      li{
       
        font-size: 12vw;
        
        &:hover::before{
          width: 0%;
        }
  
        span{
          transform: translateY(12vw);
        }
      }
      
    }
  }
}
@media screen and (min-width: 250px) and (max-width: 749px) {
  .nav{
    top: 11vw;
    padding-inline: 11vw;
    h1{
      font-size: 5.6vw;
    }
  }

  .button{
    gap: 1vw;
  
    .line2,
    .line1{
      width: 17vw;
      height: 0.6vw;
    }
  }

  .overlay{
  
    menu{
      padding-left: 5vw;
      gap: 7vw;
  
      li{
       
        font-size: 15vw;
        
        &:hover::before{
          width: 0%;
        }
  
        span{
          transform: translateY(15vw);
        }
      }
      
    }
  }
}
